{% extends 'base/base.html' %}
{% from "partials/_product_card.html" import product_card %}


{% block title %}Watling Street Home{% endblock %}

{% block content %}

<div class="hero-spacer"></div>

<section class="container my-5" id="about">
    <div class="row justify-content-center mx-0">
        <div class="col-md-8 text-center about-block fade-text">

            <h1 style="text-align: center; font-family: 'Noto', cursive; margin: 30px;">
                Welcome
            </h1>


        </div>

        <div
                class="col-md-8 text-center fade-text"
                style="margin-top: 8rem; margin-bottom: 5rem"
        >


        </div>


    </div>

</section>
<div class="product-grid">

    {% for product in dummy_products if product.is_active %}
    {# Pass the product variable into the macro function #}
    {{ product_card(product) }}
    {% endfor %}

</div>


{% endblock %}


{% block extra_js %}
<script src="{{ url_for('static', filename='js/pages/home.js') }}"></script>
{% endblock %}