

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<style>

</style>

<footer class="simple-bg-footer py-3 border-top">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">

        <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary small">
        © <span id="year"></span> watling street coffee roasting
      </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.instagram.com/idlehands_massage">

                    <img src="{{ url_for('static', filename='images/instagram-colour.svg') }}"
                         alt="Instagram"
                         width="30"
                         height="30"
                         class="product-img">
                </a>
            </li>

            <li class="ms-3">
                <a class="text-body-secondary" href="https://maps.app.goo.gl/J11wz91qxAyCEiuC7">

                    <img src="{{ url_for('static', filename='images/google-map-colour.svg') }}" width="30" height="30" class="product-img"/>
                </a>
            </li>

            <li class="ms-3">
                <a class="text-body-secondary"
                   href="https://www.fresha.com/book-now/idle-hands-massage-therapy-b85279f0/all-offer?share=true&pId=2722338">
                    <img src="/images/Fresha_logo_copy.png" width="30" height="30" class="product-img"/>
                </a>
            </li>


            <li class="ms-3">
                <a class="text-body-secondary" href="/">
                    <img src="{{ url_for('static', filename='images/WS.png') }}" width="30" height="30" class="product-img"/>

                </a>
            </li>


        </ul>

    </div>
</footer>